.gameOver {
 color: #71DDE0;

}

.backgroundDiv {

 background-image: url(http://cdn.history.com/sites/2/2013/11/hurrican-katrina-hero-H.jpeg);
 height: auto;
 width: 100%;
 background-position: 0px -50px;
    background-repeat: repeat-x;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.button {
    font-family: 'Playfair Display', serif;
    background-color: #71DDE0;
    border: none;
    color: white;
    padding: 15px 32px;
    align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.chicagoPara {
 color: #71DDE0;
 padding: 20px;
 width: 25%;

}
.chicagoLinks {
  background-color: white;
}

a {
  float: left;
  color: #71DDE0;
}
