img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  width: 1000px;
}
ul{
  margin:0;
  padding:0;
  
}
.container{
  color: #71DDE0;
  font-size:200%;
  width:80%;
  margin:auto;
  overflow:hidden;
  
}
.no-underline:hover {
    text-decoration: none;
}

a {
 color: #71DDE0;
}

body {
font-family: 'Playfair Display', serif;
background-image: url("https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif");
background-repeat: no-repeat;
background-position:center;
background-size: cover;
height: 100%;
}

h1 {
text-align: center;
text-transform: uppercase;
font-size: 100px;
color: #71DDE0;
}

h2 {
text-align: center;
font-size: 60px;
color: #71DDE0;
font-family: 'Playfair Display', serif;
background-color: white;

}

h3 {
 font-family: 'Playfair Display', serif;
text-align: center;
font-size: 40px;
color: #71DDE0;
}

.welcome {
  background-color: #000000;
  color: #71DDE0;
}

#demo {
text-align: center;
font-size: 50px;
color: #71DDE0;
font-family: "Times New Roman", Times, serif;
}

.button {
    font-family: 'Playfair Display', serif;
    background-color: #71DDE0;
    border: none;
    color: white;
    padding: 15px 32px;
    align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.copyright {
  font-family: 'Playfair Display', serif;
  color: #71DDE0;
}

